<a href="https://colab.research.google.com/github/Lucas-Petrus/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Lucas_Petrus_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

In [13]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-02 19:43:10--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 52.89.160.109, 44.228.179.66, 35.163.140.110
Connecting to resources.lendingclub.com (resources.lendingclub.com)|52.89.160.109|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [           <=>      ]  22.10M  2.00MB/s    in 12s

2020-06-02 19:43:23 (1.89 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23170772]

In [14]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [16]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)
df.shape
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [17]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [18]:
df.isnull().sum().sort_values()

inq_fi                           2
mo_sin_old_rev_tl_op             2
delinq_amnt                      2
chargeoff_within_12_mths         2
acc_open_past_24mths             2
                             ...
settlement_percentage       127563
id                          128412
desc                        128414
url                         128414
member_id                   128414
Length: 144, dtype: int64

In [19]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [20]:
df.isnull().sum().sort_values()

inq_fi                           0
mo_sin_old_rev_tl_op             0
delinq_amnt                      0
chargeoff_within_12_mths         0
acc_open_past_24mths             0
                             ...
settlement_percentage       127561
desc                        128412
url                         128412
member_id                   128412
id                          128412
Length: 144, dtype: int64

In [21]:
df.drop(['desc','url','member_id','id'], axis=1)
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [22]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 144, dtype: object

In [23]:
df['int_rate'].head(10)

0     14.47%
1     14.47%
2     27.27%
3     12.98%
4     26.31%
5     17.97%
6     11.80%
7     10.72%
8     16.14%
9     12.98%
Name: int_rate, dtype: object

In [24]:
df['int_rate'][3]

' 12.98%'

In [27]:
int_rate = ' 12.98%'
int_rate.strip().strip('%')

'12.98'

In [28]:
type(int_rate.strip().strip('%'))

str

In [31]:
float(int_rate.strip().strip('%'))
type(float(int_rate.strip().strip('%')))

float

In [0]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [33]:
int_rate_to_float(int_rate)

12.98

In [34]:
type(int_rate_to_float(int_rate))

float

In [0]:
cleaned = []

for int_rate in df['int_rate']:
  cleaned.append(int_rate_to_float(int_rate))

df['int_rate_cleaned'] = pd.Series(cleaned)

In [39]:
df.head()

   id  member_id  ...  settlement_term  int_rate_cleaned
0 NaN        NaN  ...              NaN             14.47
1 NaN        NaN  ...              NaN             14.47
2 NaN        NaN  ...              NaN             27.27
3 NaN        NaN  ...              NaN             12.98
4 NaN        NaN  ...              NaN             26.31

[5 rows x 145 columns]

In [40]:
df.dtypes['int_rate_cleaned']

dtype('float64')

In [41]:
int_rates = [' 16.57%',' 16.52%',' 16.58%',' 16.41%']

[int_rate_to_float(item)for item in int_rates]

[16.57, 16.52, 16.58, 16.41]

In [45]:
df['int_rate'] =df['int_rate'].apply(int_rate_to_float)
df.head()

   id  member_id  ...  settlement_term  int_rate_cleaned
0 NaN        NaN  ...              NaN             14.47
1 NaN        NaN  ...              NaN             14.47
2 NaN        NaN  ...              NaN             27.27
3 NaN        NaN  ...              NaN             12.98
4 NaN        NaN  ...              NaN             26.31

[5 rows x 145 columns]

In [46]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [47]:
df['emp_title'].nunique()

43892

In [48]:
df['emp_title'].isnull().sum()

20947

In [0]:
examples = ['owner', 'Supervisor',' Project Manager', np.NaN]

In [50]:
def clean_emp_title(title):
  if isinstance(title,str):
    return title.strip().title()
  else:
    return "Unknown"

for example in examples:
  print(clean_emp_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['new_column'] = [clean_emp_title(title) for title in examples]

In [54]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)

df.head()

   id  member_id  ...  settlement_term  int_rate_cleaned
0 NaN        NaN  ...              NaN             14.47
1 NaN        NaN  ...              NaN             14.47
2 NaN        NaN  ...              NaN             27.27
3 NaN        NaN  ...              NaN             12.98
4 NaN        NaN  ...              NaN             26.31

[5 rows x 145 columns]

In [55]:
df['emp_title'].value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [56]:
df['emp_title'].nunique()

34902

In [57]:
df['emp_title'].isnull().sum()

0

In [58]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [59]:
df['issue_d'].head()

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object

In [60]:
df['issue_d'].tail()

128407    Oct-2018
128408    Oct-2018
128409    Oct-2018
128410    Oct-2018
128411    Oct-2018
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [63]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [64]:
df['issue_d'][0]

Timestamp('2018-12-01 00:00:00')

In [65]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [66]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [67]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   id  member_id  loan_amnt  ...  int_rate_cleaned  issue_year issue_month
0 NaN        NaN      20000  ...             14.47        2018          12
1 NaN        NaN      16000  ...             14.47        2018          12
2 NaN        NaN       8425  ...             27.27        2018          12
3 NaN        NaN      10000  ...             12.98        2018          12
4 NaN        NaN      30000  ...             26.31        2018          12

[5 rows x 147 columns]

In [68]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_percentage    float64
settlement_term          float64
int_rate_cleaned         float64
issue_year                 int64
issue_month                int64
Length: 147, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [71]:
df['earliest_cr_line'].head()

0   1979-06-01
1   2001-11-01
2   1997-10-01
3   2007-05-01
4   2007-10-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [72]:
(df['issue_d'] - df['earliest_cr_line']).dt.days / 365

0         39.528767
1         17.093151
2         21.180822
3         11.594521
4         11.175342
            ...
128407    33.189041
128408    36.276712
128409    12.342466
128410    10.005479
128411    12.090411
Length: 128412, dtype: float64

In [75]:
df['length_of_credit_history'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

df.head()

   id  member_id  loan_amnt  ...  issue_year  issue_month length_of_credit_history
0 NaN        NaN      20000  ...        2018           12                39.528767
1 NaN        NaN      16000  ...        2018           12                17.093151
2 NaN        NaN       8425  ...        2018           12                21.180822
3 NaN        NaN      10000  ...        2018           12                11.594521
4 NaN        NaN      30000  ...        2018           12                11.175342

[5 rows x 148 columns]

In [76]:
df['length_of_credit_history'].describe()

count    128412.000000
mean         16.054497
std           7.908317
min           3.084932
25%          11.093151
50%          14.427397
75%          19.846575
max          68.961644
Name: length_of_credit_history, dtype: float64

In [77]:
df['term']

0          36 months
1          36 months
2          36 months
3          60 months
4          60 months
             ...
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [0]:
#Convert the term column from string to integer.

def term_to_int(cell_contents):
  return int(cell_contents.strip(' months'))

df['new_term'] = df['term'].apply(term_to_int)

In [102]:
type(df['new_term'][0])

numpy.int64

In [103]:
df.head()

   id  member_id  loan_amnt  ...  issue_month  length_of_credit_history new_term
0 NaN        NaN      20000  ...           12                 39.528767       36
1 NaN        NaN      16000  ...           12                 17.093151       36
2 NaN        NaN       8425  ...           12                 21.180822       36
3 NaN        NaN      10000  ...           12                 11.594521       60
4 NaN        NaN      30000  ...           12                 11.175342       60

[5 rows x 149 columns]

In [118]:
#Make a column named loan_status_is_great. 
#It should contain the integer 1 if loan_status is "Current" 
#or "Fully Paid." Else it should contain the integer 0
def clean_loan_status(loan_status):
  if isinstance (loan_status, obj):
    return 1
  else:
    return 0

df['loan_status_is_great']= df['loan_status_is_great'].apply(clean_loan_status)

KeyError: ignored

In [108]:
#Make last_pymnt_d_month and last_pymnt_d_year columns

[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01